<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Change Notification</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; color: #333; line-height: 1.6;">
    <h2 style="color: #2C3E50;">Password Change Notification</h2>
    <p>Dear <span th:text="${username}"></span>,</p>
    <p>We are writing to inform you that your account password has been successfully changed.</p>
    <p>And here is your new password: </p>
    <p th:text="${randomPassword}"></p>
    <p>If you did not initiate this change, please contact our support team immediately to secure your account.</p>
    <p>If you did request this change, no further action is required.</p>
    <p>Best regards,</p>
    <p><strong>Kompheak Banking</strong></p>
    <hr>
    <p style="font-size: 0.9em; color: #999;">This is an automated message, please do not reply.</p>
</div>
</body>
</html>
